<form (ngSubmit)="confirmarEditar()" [formGroup]="forma">
  <h1 mat-dialog-title>Edit</h1>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <mat-label>Item description</mat-label>
      <input matInput placeholder="Description" required type="text" formControlName="name"/>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="onNoClick()" color="warn" type="button">Cancel</button>
    <button mat-button type="submit" color="primary">Confirm</button>
  </div>
</form>